<div class="form-inline table">
  <div class="nested-fields">
      <%= f.input :year, prompt: "Year", :collection => ['2015','2016','2017','2018'], label: false,:label_html => { :id => 'result_field' }  %>
      <%= f.input :grade, collection: '1'..'12', prompt: "Gr", label: false %>
      <%= link_to_remove_association "Remove", f, id: "button" %>
  </div>
</div>