<h1>SUBJECTS</h1>

<br>
<div class="table-responsive">
  <table class="table">
    <% @subjects.each do |subject| %>
      <tr>
        <td class="col-md-1"><%= subject.name %></td>
        <td class="col-md-1"> <i><%= link_to 'Edit', edit_subject_path(subject)%></i></td>
        <td class="col-md-1"> <i><%= link_to 'Delete', subject, method: :delete, data: { confirm: "Are you sure?" } %> </i></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to 'New Subject', new_subject_path, id: "button" %>